.card {
    border-radius: var(--main-border-radius);
  }
  
  .cardInner {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 360px;
    justify-content: space-around;
    align-items: center;

    
  }
  
  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0.4;
  }
  

  
  .weekday {
    width: 200px;

  }
  
  .container {
    display:flex;
    justify-content:center;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dayForecast{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cityLocation{
    font-size:23px;
  }
  .date {
    font-size:25px;
  }