@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap');

:root {
    --gradient: linear-gradient(135deg, #ca8551 10%, #00121b 60%, #00242f 100% );
    --bg-color--card: #0c0b00ac;

    --main-text-color: #ffffff;

    --main-border-radius: 25px;
    --secondary-border-radius: 15px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #a5992d25;
    background-image: url("../src/components/CurrentDay/assets/mountain.jpg");
    background-size: cover;
    color: white;
}
